.bar {
  /* position: absolute; */
  width: 100%;
  padding: 15px 0;

  background-color: #1d124c;
  color: white;
  font-weight: bold;
  font-family: Gelasio;
  font-size: 16px;
}

.bar_content {
  display: block; /* Important to give the content a width */

  width: 100%;
  transform: translateX(100%); /* Animation start out of the screen */

  /* Add the animation */
  animation: move 30s linear infinite
    /* infinite make reapeat the animation indefinitely */;
}

/* Create the animation */
@keyframes move {
  to {
    transform: translateX(-100%);
  }
}
